<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">ElasticMining, based in Taiwan, is offering clients data solutions.</h3>
                </div>
                
            </div>
            <div>
                <div class="col-lg-1"></div>
                <div class="col-lg-10 text-left">
                    <p class="text-muted">ElasticMining is dedicated to servicing you with our Data Mining, Data Infrastructure and Data Visualization solutions. We communicate efficiently and effectively to ensure our customized services are right for your industry, data volume, your budget and other important factors that you care about.</p>

                    <p class="text-muted">Our mission is clear. ‘ELASTIC’, offering you tailored data services and always being right here when you need us. ‘MINING’, not only finding insights from your valuable data, but also figuring out your business problems by knowing what you really need.</p>

                    <p class="text-muted">ElasticMining aims to shape the future of your business, together with you. Better. Faster. Stronger.
                    </p>
                </div> 
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>