<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">ElasticMining provides a total solution for your business and data.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Mining</h4>
                    <p class="text-muted">Derive Big business value from Big data analytics. ElasticMining helps you realize your business and customers, and find valuable insights from the data.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Infrastructure</h4>
                    <p class="text-muted">Experience the fastest time from Big Data to Big value. ElasticMining helps your business build a data platform that is fast, scalable and more cost-effective.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Visualization</h4>
                    <p class="text-muted">Good visualization helps you realize your data easier. ElasticMining will draw a story about your data and insights.</p>
                </div>
            </div>
        </div>
    </section>
