<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Meet our Co-Founders!</h3>
                </div>
            </div>
            {% for author in site.data.authors %}
                {% assign member = author[1] %}
                {% assign modulo = forloop.index | modulo: 4 %}
                {% if modulo == 1 %} 
                   <div class="row">
                {% endif %}
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-round" alt="{{member.alt}}">
                                <h4>{{ member.name }}</h4>
                                <p class="text-primary text-bold">{{ member.position }}</p>
                                <p class="text-muted fixed-panel" style="text-align: left;">
                                    {{ member.description | truncatewords:100 }}
                                </p>
                                <ul class="list-inline social-buttons">
                                    {% for network in member.social %}
                                    <li><a rel=”nofollow” target="_blank" href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                {% if modulo == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            {% assign length = site.authors | size | modulo: 4%}
            {{if length != 0}}
                    </div>
            {{endif}}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Meet Our Consultants!</h3>
                </div>
            </div>

           <div class="row box">
               <div class="col-sm-2"></div>
               <div class="col-sm-8">
                   <div class="row">
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/Jazz.jpg" class="img-responsive img-round" alt="">
                                <h4>Jazz Wang</h4>
                                <p class="text-muted">Team Consultant</p>
                                <p class="text-muted fixed-panel" style="text-align: left;">Jazz is a system administration expert with extensive experience building, improving, supporting and architecting Hadoop infrastructures. Jazz is a selfless leader to every engineers and analysts.
                                <br></p>
                                 <ul class="list-inline social-buttons">
                                    <li><a target="_blank" rel=”nofollow” href="https://github.com/jazzwang"><i class="fa fa-github"></i></a>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/Kent.jpg" class="img-responsive img-round" alt="">
                                <h4>Kent Shih</h4>
                                <p class="text-muted">Team Consultant</p>
                                <p class="text-muted fixed-panel" style="text-align: left;">Kent is a machine learning and large scale data processing domain expert. He has completed QuikecCIRE development, ASUS Vibe, ETU insight and PIXNET user demographic detection system.  
                                <br></p>
                                 <ul class="list-inline social-buttons">
                                    <li><a target="_blank" rel=”nofollow” href="https://www.linkedin.com/in/kentshih"><i class="fa fa-linkedin"></i></a>
                                </ul>
                            </div>
                        </div>     
                        <div class="col-sm-4">
                            <div class="team-member">
                                <img src="img/team/Osaki.jpg" class="img-responsive img-round" alt="">
                                <h4>Osaki Hsieh</h4>
                                <p class="text-muted" >Team Consultant</p>
                                <p class="text-muted fixed-panel" style="text-align: left;">Osaki is a Front-end web developer & Web UI Designer. His major is in Html & css with jade & sass. Experience in building professional RWD and SPA website.
                                <br></p>
                                 <ul class="list-inline social-buttons">
                                    <li><a target="_blank" rel=”nofollow” href="https://www.linkedin.com/in/osaki-hsieh-a42a7855"><i class="fa fa-linkedin"></i></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">ElasticMining is lovingly built and currently maintained by all these fine folks.</p>
                </div>
            </div>
         
        </div>
    </section>   
